/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("animal-shelter-09.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
}

header {
    background-color: rgba(0, 0, 0, 0.197);
    padding: 20px 5%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-text {
    color: azure;
    font-weight: 900;
    font-size: 40px;
    font-family: 'Lobster', cursive;
    text-decoration: none;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    padding: 7px;
    border-radius: 3px;
    position: relative;
    transition: 0.3s;
}

nav ul li a:hover,
nav ul li a.active {
    background-color: #a2683c;
}

.faq-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #000000a1;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #fae8d5;
}

.faq-container h1 {
    text-align: center;
    color: #fbe0c4;
    margin-bottom: 30px;
}

.faq {
    margin-bottom: 20px;
}

.question {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
}

.answer {
    padding-left: 20px;
    color: #fee3c7;
    margin-bottom: 10px;
}

